body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFC800;

}

h1{
    font-size: 39px;
}

a, a:hover{
    text-decoration: none;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: black;
    padding: 2%;
    border-radius: 5px;
    color: white;
}

button a{
    color: white;
}

p{
    color: black;
}

nav{
    background-color: black;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    padding: 1% 10%;
}

nav a{
    color: white;
}


.texto{
    color: white;
}

.botonAmarillo{
    background-color: #FFC800;
    color: black;
    padding: 10%;
    border-radius: 5%;
}

.enlaceBoton{
    color: black;
}


.logo{
    display: flex;
    flex: 1;
}

.abejaLogo{
    width: 20px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5%;
    flex-grow: 1;
    list-style-type: none;
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: medium;
}

nav p{
    color: white;
}

header{
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
}

.botonNegro{
    background-color: black;
    padding: 3%;
    border-radius: 5px;
    width: 100px;
    margin-top: 3%;
}

.botonNegro a{
    color: white;
}


.bloqueFormulario{
    width: 40%;
}

.mujerTexting{
    width: 40%;
    padding: 5%;
}

form input{
    width: 90%;
    padding: 2%;
    margin-top: 2%;
}

label{
    font-size: 18px;
}

hr{
    color: black;
}

.botonRegistrar{
    background-color: black;
    padding: 3%;
    border-radius: 5px;
    width: 100px;
    margin-top: 1%;
}

.botonRegistrar a{
    color: white;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}


.menuFooter{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    column-gap: 3%;
    padding: 1% 10%;
}

.menuFooter{
    width: 50%;
}

.menuFooter a{
    text-decoration: none;
    font-size: medium;
    color: white;
}

.menuFooter{
    list-style-type: none;
}

footer p{
    color: white;
}


.bloqueFiesta{
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.imagenFiesta{
    width: 150%;
}

.formularioContacto{
 width: 50%;
}

.botonesContacto{
    display: flex;
    flex: row;
    justify-content: space-between;
    column-gap: 5%;
}

.botonesContacto button{
     padding: 3%;
}



  .textoBlanco a{
    color: white;
  }

  .textoBlanco p{
    color: white;
  }

  .textoBlanco{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
  }


  .seccionFormulario{
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }


  #seccionTabla{
    padding: 10%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  #contactTable{
    border-collapse: collapse;
    font-size: 12px;
    min-width: 400px;
    width: 100%;
    font-size: 0.9em;
    border-radius: 5px;
    overflow: hidden;
  }

  #contactTable thead tr{
    background-color: black;
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
  }

  #contactTable th{
    padding: 15px;
  }

  #contactTable td{
    padding: 15px;
  }

  #contactTable tbody tr{
    border: 1px solid black;
  }

  #contactTable tbody{
    font-weight: normal;
  }

  #contactTable tbody button{
    padding: 3%;
  }

  #contactTable tbody tr:nth-of-type(even){
    background-color: lightgray;
  }

  #contactTable tbody tr:nth-of-type(odd){
    background-color: white;
  }

  #contactTable tbody tr:last-of-type{
    border-bottom: 2px solid black;
  }

  
  #update_form{
    display: none;
  }







